<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Locating-non-zero-elements-from-a-df-using-.ne()" data-toc-modified-id="Locating-non-zero-elements-from-a-df-using-.ne()-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Locating non zero elements from a df using <code>.ne()</code></a></span></li><li><span><a href="#Min-and-Max-from-a-dataframe" data-toc-modified-id="Min-and-Max-from-a-dataframe-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Min and Max from a dataframe</a></span></li></ul></div>

- Getting the index position `.idxmax()`, `.idxmin()`
- Finding elements using `ne()`
- Get min and max elements from a dataframe `nsmallest()`, `nlargest()`

In [2]:
# return the index position 
import pandas as pd
x = pd.Series([1,3,4,5,6,7,8,9,10])

In [6]:
# finding the location of maximum and minimun (index positions)
print('Max index:', x.idxmax())
x[x.idxmax()]

Max index: 8

10

In [7]:
print('Min index:', x.idxmin())

Min index: 0

## Locating non zero elements from a df using `.ne()`

In [9]:
df = pd.DataFrame()
df['x'] = [0,0,0,0,0,1,3,3,4,2,12,7]
df['x'].ne(0)

0     False
1     False
2     False
3     False
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11     True
Name: x, dtype: bool

In [10]:
# at position 5 is the first non zero element
df['x'].ne(0).idxmax()

5

In [12]:
# now subset all nonzeros
df.loc[df['x'].ne(0).idxmax():]

     x
5    1
6    3
7    3
8    4
9    2
10  12
11   7

In [13]:
df['x'].ne(3)

0      True
1      True
2      True
3      True
4      True
5      True
6     False
7     False
8      True
9      True
10     True
11     True
Name: x, dtype: bool

## Min and Max from a dataframe
- `nsmallest()`
- `nlargest()`

In [18]:
results = pd.DataFrame({ 'Name': ['Bob', 'Mark', 'Stephen', 'Jess', 'Jeff'],
                        'Points' : [55, 60, 32, 85, 67]
})
results

      Name  Points
0      Bob      55
1     Mark      60
2  Stephen      32
3     Jess      85
4     Jeff      67

In [22]:
# get the smalles 3 values from points
results.nsmallest(3, 'Points')

      Name  Points
2  Stephen      32
0      Bob      55
1     Mark      60

In [23]:
# get the higest 2 values from points
results.nlargest(2, 'Points')

   Name  Points
3  Jess      85
4  Jeff      67