In [1]:
squares = []
for i in range(10):
    squares.append(i * i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
tax_rate = 0.08

def get_prices(tx):
    return tx * (1 + tax_rate)

list(map(get_prices, txns))

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [4]:
[get_prices(i) for i in txns]

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [10]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
[i if i > 0 else 0 for i in original_prices]

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [15]:
quote = "life, uh, finds a way"
{i for i in quote if i in 'aeiou'}

{'a', 'e', 'i', 'u'}

In [16]:
# squares 
[i * i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
# distionary comprehensions
{i : i * i for i in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [21]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
[0 for _ in range(7)]

[9, 9, 9, 9, 9, 9, 9]

In [23]:
# nested lists to create matrices
mat = [[i for i in range(5)] for _ in range(6)]
mat

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [29]:
# flatten the matrix
[num for row in mat for num in row]

[0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4]

In [27]:
for row in mat:
    for num in row:
        print(num)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4