# Data Import

In [1]:
import pandas as pd

In [2]:
order_leads = pd.read_csv('https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/order_leads.csv',
    parse_dates = [3])

sales_team = pd.read_csv(
    'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/sales_team.csv',
    parse_dates = [3])

In [4]:
# merges orders and sales
order_leads.head()

,Order Id,Company Id,Company Name,Date,Order Value,Converted
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0

In [5]:
sales_team.head()

        Sales Rep      Sales Rep Id            Company Name        Company Id
0  William Taylor  ZTZA0ZLYZR85PTUJ  Melancholy Social-Role  D0AUXPP07H6AVSGD
1  William Taylor  ZTZA0ZLYZR85PTUJ          Pee-Wee Pigeon  TJW99R4RWH02INII
2  William Taylor  ZTZA0ZLYZR85PTUJ     Vaginal 36-Year-Old  3S20IO1O1DYXMUNU
3  William Taylor  ZTZA0ZLYZR85PTUJ    Unhurried Musician'S  FDWW0TQRPGMVI2A7
4  William Taylor  ZTZA0ZLYZR85PTUJ     Comprehensive Lists  C30FY83UNLVBA0O3

In [6]:
# merge data frames
df = pd.merge(order_leads, sales_team, on=['Company Id','Company Name'])
df = df.rename(columns = {'Order Value': 'Val', 'Converted': 'Sale'})
df.head()

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0,William Taylor,ZTZA0ZLYZR85PTUJ
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0,William Taylor,ZTZA0ZLYZR85PTUJ
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1,William Taylor,ZTZA0ZLYZR85PTUJ
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0,William Taylor,ZTZA0ZLYZR85PTUJ
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0,William Taylor,ZTZA0ZLYZR85PTUJ

# Grouping by Splitting `str.split()`

In [25]:
df['Sales Rep'].str.split().str[0].unique()

array(['William', 'Willie', 'Sam', 'Alvin', 'Helen', 'Michael', 'Leta',
       'Linda', 'Calvin', 'Gail', 'Norman', 'Arlene', 'Kent', 'Gary',
       'Evelyn', 'Polly', 'Cynthia', 'Adrianna', 'Frank', 'Jessica',
       'Grant', 'Teddy', 'Beatrice', 'Katie', 'David', 'John', 'Edward',
       'Flora', 'Juan', 'Sandra', 'Terry', 'Doris', 'Kimberly', 'Robert',
       'Barbara', 'Julio', 'Leslie', 'Eric', 'Constance', 'Therese',
       'Olga', 'Mary', 'Patrick', 'Donna', 'Brian', 'Patricia',
       'Christine', 'Stephanie', 'Viola', 'Debra', 'Larry', 'Theodora',
       'Joan', 'Caroline', 'Joyce', 'Henry', 'Myrna', 'Kristi', 'Brenton',
       'Rolando', 'Brett', 'Kattie', 'Cameron', 'Jessie', 'Lisa',
       'Enrique', 'Lonnie', 'Maryann', 'Margaret', 'Elijah', 'Susan',
       'Steven', 'Marla', 'James', 'Barry', 'Milton', 'Thomas', 'Camille',
       'Clarissa', 'Sunny', 'Tyrone', 'Tiffany', 'Neil', 'Gerry',
       'Frederic', 'Kathleen', 'Yvonne', 'Fritz', 'Carol', 'Paul',
       'Chris', 'Charles', 'Ruth', 'Melvin', 'Kristin', 'Mildred',
       'Anthony', 'Lorie', 'Faye', 'Vita', 'Karla', 'Aaron', 'Nedra',
       'Albert', 'Sean', 'Sherita', 'Renee', 'Wesley', 'Don', 'Jesse',
       'Lillian', 'Miguel', 'Simon', 'Jerrie', 'Rhonda', 'Dewayne', 'Jon',
       'Peter', 'Jason', 'Russell', 'Teresa', 'Joanna', 'Sierra',
       'Angela', 'Louise', 'Adrian', 'Charlotte', 'Rosendo', 'Sonya',
       'Rashida', 'Andrea', 'Chad', 'Mark', 'Richard', 'Georgia', 'Joel',
       'Jose', 'Daniel', 'Elizabeth', 'Maria', 'Dwight', 'Glen', 'Jan',
       'Kurt', 'Arthur', 'Sarah', 'Jaime', 'Emma', 'Nick', 'Luis',
       'Nicholas', 'Allison', 'Beverly', 'Stephen', 'Crystal', 'Amy',
       'Casey', 'Wanda', 'Regina', 'Sylvia', 'Janet', 'Alejandro',
       'Dennis', 'Trisha', 'Josefina', 'Ahmad', 'Dora', 'Derrick',
       'Timothy', 'Kenneth', 'Nancy', 'Carolyn', 'Jennie', 'Jeffery',
       'Christina', 'Cecile', 'Raquel', 'Corey', 'Denise', 'Sherman',
       'Delia', 'Christopher', 'Shawn', 'Victoria', 'Allen', 'Eduardo',
       'Megan', 'Cherie', 'Laura', 'Amanda', 'Joann', 'Johnny', 'Ralph',
       'Fidel', 'Eva', 'Vennie', 'Alfredo', 'Theresa', 'Brooke',
       'Samantha', 'Thelma', 'Cindy', 'Joe', 'Kathryn', 'Paula', 'Sharon',
       'Angel', 'Gerald', 'Angelo', 'Gayle', 'Jacqueline', 'Gordon',
       'Darlene', 'Ivan', 'Alonzo', 'Julie', 'Travis', 'Myra', 'Regine',
       'Jack', 'Esther', 'Hosea', 'Bruce', 'Sally', 'Georgiann', 'Leon',
       'Heather', 'Ken', 'Rosetta', 'Teresita', 'Adam', 'Marilyn',
       'Loretta', 'Lori', 'Monica', 'Titus', 'Valarie', 'Raymond',
       'Theodore', 'Ginger', 'Keith', 'Kathy', 'Hubert', 'Tony', 'Gloria',
       'Randall', 'Roy', 'Ray', 'Rocco', 'Justin', 'Ricardo', 'Karen',
       'Kara', 'Lula', 'Ronald', 'Joshua', 'Dixie', 'Judy', 'Lydia',
       'Janice', 'Jill', 'Ronny', 'Fred', 'Marvin', 'Essie', 'Mike',
       'Johanna', 'Jay', 'Alison', 'Billy', 'Lauren', 'Joanne',
       'Michelle', 'Brenda', 'Benjamin', 'Tara', 'Pat', 'Sue', 'Shawna',
       'Carole', 'Brandi', 'Sara', 'Deborah', 'Rebekah', 'Sammy', 'Robin',
       'Karlene', 'Lee', 'Lynda', 'Jane', 'Ellen', 'Melissa', 'Adele',
       'Carrie', 'Kerry', 'Alease', 'Alyssa', 'Santiago', 'Wilbert',
       'Myrtle', 'Annette', 'Jennifer', 'Lillie', 'Samuel', 'Millie',
       'Kyle', 'Cole', 'Dominic', 'Roberto', 'Roberta', 'Victor',
       'Reynaldo', 'George', 'Jerry', 'Rose', 'Larita', 'Roland', 'Ida'],
      dtype=object)

In [10]:
df.groupby(df['Sales Rep'].str.split(' ').str[0]).size()

Sales Rep
Aaron         292
Adam          324
Adele         115
Adrian        369
Adrianna       37
Ahmad         291
Albert         60
Alease        210
Alejandro      57
Alfredo        17
Alison         22
Allen         332
Allison       270
Alonzo         50
Alvin         268
Alyssa        428
Amanda        172
Amy            93
Andrea        139
Angel         375
Angela        538
Angelo        381
Annette       159
Anthony       626
Arlene        342
Arthur        336
Barbara       690
Barry          44
Beatrice       21
Benjamin      283
             ...
Tara          141
Teddy          19
Teresa        442
Teresita      161
Terry         253
Thelma        111
Theodora      244
Theodore      120
Theresa       152
Therese       122
Thomas        755
Tiffany       710
Timothy       331
Titus         296
Tony           65
Travis        275
Trisha        218
Tyrone        159
Valarie       268
Vennie        378
Victor        329
Victoria      106
Viola          18
Vita           84
Wanda         259
Wesley        144
Wilbert       213
William      1393
Willie        448
Yvonne        141
Length: 318, dtype: int64

# Grouping by whether or not there is a string is in the name of the rep

In [28]:
df['Sales Rep'].apply(lambda x: 'William' in x) # returns True / False
# group by each 
df.groupby(df['Sales Rep'].apply(lambda x: 'William' in x)).size()

Sales Rep
False    97111
True      2889
dtype: int64

# Group by custom buckets  `pd.qcut()`, `pd.cut()`

In [34]:
df.groupby(pd.qcut(df['Val'], q = 3, labels=['low','mid','high'])).size()

Val
low     33339
mid     33336
high    33325
dtype: int64

In [33]:
df.groupby(pd.cut(df['Val'],[0,3000,5000,7000,10000])).size()

Val
(0, 3000]        29220
(3000, 5000]     19892
(5000, 7000]     20359
(7000, 10000]    30529
dtype: int64

# `pd.Grouper()`

We can use different standard frequencies like 'D','W','M', or 'Q'. 'SM' for semi-month end frequency (15th and end of the month).

In [40]:
df.groupby(pd.Grouper(key='Date',freq='Y')).size()

Date
2014-12-31    19956
2015-12-31    20054
2016-12-31    20133
2017-12-31    20079
2018-12-31    19778
Freq: A-DEC, dtype: int64

# Grouping by multiple columns

In [42]:
df.groupby(['Company Name', 'Sales Rep']).size()

Company Name                   Sales Rep
'Nough Demolition              Clarissa Harvey           31
1/50Th Stipulation             Monica March              19
10-Hour Bestseller             Valarie Ulloa             27
10-Team Formats                Kimberly Kiewiet          16
10-Year Presentation           Kyle Bradley              18
100-Million-Lb. Cranes         James Mosely              15
100-Ton Rainier                Christopher Villasenor    25
11-Inch Brushing               Angel Guidry              25
11-Shot Compulsivity           David Vicic               24
11-Year-Old Aeration           John Hargett              22
11-Year-Old Squires            Lauren Williams           22
12-Inch Diarrhoea              Robert Donaldson          22
12-Inch Joplin                 Neil Hollyday             22
12-Month Old-Grad-Type         Maria Jones               20
12-Month Originals             Alease Puckett            18
12-Oz. Vulturidae              Casey Gordon              26
12-Shot Fatalities             Arthur Owens              23
1200-Square-Foot Artisans      Georgia Barrows           25
1200-Square-Foot Childishness  Mark Jarmon               19
1200-Square-Foot Hem           Dewayne Sherry            25
13/16-Inch Forests             Trisha Abraham            19
13/16-Inch Technicalities      Carol Williams            19
139-Foot Battlements           Robert Powell             19
15-Degree Wissahickon          Julio Woodard             22
15-To-One Aces                 Richard Dugas             23
150-Milliampere Highwayman     Michael Leeper            26
150-Milliampere Peal           Shawn Breedlove           24
150-Milliampere Vice           Joe Johnson               27
16-Hour Networks'              Joyce Mitchell            27
165-Unit Hindus                Richard Gable             15
                                                         ..
Worst Locker-Room              Patrick Turner            25
Worthwhile Persons             David Shirk               23
Worthy Lunation                David Saathoff            22
Wouldbe Down-Payments          Adrian Daugherty          25
Wouldbe Trains                 Christopher Brandt        12
Wrathful Conformity            Robert Powell             20
Wrathful Dysplasia             Tiffany Padilla           22
Wrong Crow                     William Taylor            16
Wrong Detector                 Ralph Jamieson            17
Wrong Hephzibah                Santiago Marcum           28
Wrong-Headed Hackers           Kathleen Saylors          25
Wrong-Headed Weather           Enrique Burns             23
Wrongful Mathues               Titus Hazlett             21
Yankee Convair                 Adam Sawyer               19
Year-End Foods                 Kent Thomason             32
Year-End Hooper                Millie Lynch              26
Year-Round Skids               Neil Hollyday             18
Year-To-Year Electromyography  Richard Dugas             27
Yearly Meyner'S                Lisa Hayes                21
Yearly Olgivanna               James Rameau              17
Yeller Ferro                   Sylvia Armstrong          21
Yellerish Canons               Amanda Borkholder         18
Yellow Adviser                 Joyce Mitchell            20
Yellow Perplexity              Doris Newton              19
Yongst Longevity               Chris Martinez            15
York-Mind Bod/Day/1,000        Christopher Green         18
York-Mind Titan                Joann Dugger              17
Youngest Fund                  Georgiann White           18
Zaporogian Shapes              Tiffany Haley             20
Zodiacal Indigation            John Hargett              23
Length: 4619, dtype: int64

# `apply()`, `agg()`, `transform()` , `filter`

In [43]:
df.groupby(pd.Grouper(key='Date',freq='Y'))['Val','Sale'].apply(sum)

                  Val  Sale
Date
2014-12-31  100422394  3681
2015-12-31  101724648  3800
2016-12-31  101789642  3881
2017-12-31  101957784  3068
2018-12-31  100399962  2478

In [44]:
df.groupby('Sales Rep').agg({'Order Id':'size', 'Val':['sum','mean'], 'Sale':['sum','mean']})

                  Order Id      Val              Sale
                      size      sum         mean  sum      mean
Sales Rep
Aaron Hendrickson      292  1550608  5310.301370   46  0.157534
Adam Sawyer            324  1587828  4900.703704   48  0.148148
Adele Kimmel           115   527339  4585.556522   20  0.173913
Adrian Daugherty       369  1841274  4989.902439   51  0.138211
Adrianna Shelton        37   186651  5044.621622    8  0.216216
Ahmad Derck            291  1508654  5184.378007   44  0.151203
Albert Pellowski        60   287723  4795.383333    7  0.116667
Alease Puckett         210  1079923  5142.490476   31  0.147619
Alejandro Ford          57   256160  4494.035088    8  0.140351
Alfredo Weise           17   101263  5956.647059    2  0.117647
Alison Mitchell         22   128702  5850.090909    5  0.227273
Allen Olding           332  1652620  4977.771084   66  0.198795
Allison Malinski       270  1393992  5162.933333   46  0.170370
Alonzo Cavanaugh        50   248177  4963.540000   12  0.240000
Alvin Greene            88   406369  4617.829545   19  0.215909
Alvin Jenson           180   931534  5175.188889   38  0.211111
Alyssa Mckinney        428  2172439  5075.792056   52  0.121495
Amanda Borkholder      172   849651  4939.831395   33  0.191860
Amy Jernigan            93   473051  5086.569892   23  0.247312
Andrea Kanish          139   642166  4619.899281   22  0.158273
Angel Guidry           375  1953061  5208.162667   57  0.152000
Angela Long            271  1389962  5129.011070   37  0.136531
Angela Messner         267  1396880  5231.760300   49  0.183521
Angelo Travis          381  2006858  5267.343832   57  0.149606
Annette Every          159   859312  5404.477987   22  0.138365
Anthony Ennis          266  1320051  4962.597744   50  0.187970
Anthony Rosario        360  1799641  4999.002778   53  0.147222
Arlene Collier         342  1750479  5118.359649   45  0.131579
Arthur Fieck           151   733236  4855.867550   31  0.205298
Arthur Koehler          68   322573  4743.720588    8  0.117647
...                    ...      ...          ...  ...       ...
Thomas Reynolds        308  1545497  5017.847403   44  0.142857
Tiffany Haley          404  2009773  4974.685644   63  0.155941
Tiffany Padilla        306  1604109  5242.186275   44  0.143791
Timothy Burns          331  1661774  5020.465257   43  0.129909
Titus Hazlett          296  1557885  5263.125000   53  0.179054
Tony Pushard            65   325771  5011.861538   19  0.292308
Travis Blakenship      275  1370877  4985.007273   48  0.174545
Trisha Abraham         218  1076905  4939.931193   46  0.211009
Tyrone Caputo          159   843120  5302.641509   32  0.201258
Valarie Ulloa          268  1368268  5105.477612   53  0.197761
Vennie Nicolls         378  1817966  4809.433862   58  0.153439
Victor Groves          329  1603520  4873.920973   52  0.158055
Victoria Duncan        106   534293  5040.500000   20  0.188679
Viola Ates              18    91661  5092.277778    2  0.111111
Vita Nicholas           84   440773  5247.297619   21  0.250000
Wanda Olson            259  1348572  5206.841699   41  0.158301
Wesley Davis           144   784563  5448.354167   33  0.229167
Wilbert Oeltjen        213  1040348  4884.262911   38  0.178404
William Butler          41   201344  4910.829268    4  0.097561
William Carlson        297  1404387  4728.575758   47  0.158249
William Dickson        406  1993235  4909.445813   58  0.142857
William Reynolds       118   588377  4986.245763   20  0.169492
William Roche          160   767326  4795.787500   27  0.168750
William Shumpert        89   442655  4973.651685   19  0.213483
William Taylor         282  1392909  4939.393617   57  0.202128
Willie Lin              44   254128  5775.636364    6  0.136364
Willie Rau              95   434918  4578.084211   19  0.200000
Willie Sanchez         309  1525229  4936.016181   52  0.168285
Yvonne Jones            74   416388  5626.864865   12  0.162162
Yvonne Lindsey          67   324334  4840.805970   18  0.268657

[499 rows x 5 columns]

# Named Aggregation

In [50]:
import numpy as np

def cr(x):
    return round(np.mean(x),2)

aggregation = {'Potential Sales': ('Val','size'),
                'Sales': ('Sale','sum'),
                'Conversion Rate': ('Sale', cr)
}

df.groupby('Sales Rep').agg(**aggregation)

TypeError: aggregate() missing 1 required positional argument: 'arg'

In [56]:
df.groupby('Sales Rep')['Val'].transform(lambda x: x/sum(x)).round(3).head()

0    0.005
1    0.006
2    0.004
3    0.001
4    0.003
Name: Val, dtype: float64

In [58]:
# assigning results to a new column
df['Percent'] = df.groupby('Sales Rep')['Val'].transform(lambda x: x/sum(x)).round(3)
df.head()

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id,Percent
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.005
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.006
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1,William Taylor,ZTZA0ZLYZR85PTUJ,0.004
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.001
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.003

# `filter()`

In [59]:
df.groupby('Sales Rep').filter(lambda x: (x['Val'] * x['Sale']).sum() > 200000)

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id,Percent
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.005
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.006
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1,William Taylor,ZTZA0ZLYZR85PTUJ,0.004
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.001
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.003
5,CQKV2CTU29CVIBV7,D0AUXPP07H6AVSGD,Melancholy Social-Role,2015-07-16,1304,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.001
6,7V1CDIHQAPCGRJZ2,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-12-17,4610,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.003
7,JFMNRRRNS5MD8BKQ,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-02-27,8349,1,William Taylor,ZTZA0ZLYZR85PTUJ,0.006
8,8NAXO48R22240WYE,D0AUXPP07H6AVSGD,Melancholy Social-Role,2015-12-23,4881,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.004
9,FNY1AMVZH2OGPTK6,D0AUXPP07H6AVSGD,Melancholy Social-Role,2015-03-03,9606,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.007
10,E0WXT40V40H1VH8E,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-03-02,2220,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.002
11,QHK2FXR37N075IBZ,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-01-28,1183,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.001
12,7YGQCAR5C119J7NC,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-06-19,6002,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.004
13,TD5F4GJ2LPIJMIM7,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-07-03,913,1,William Taylor,ZTZA0ZLYZR85PTUJ,0.001
14,A96YQNYAU7Z9AM70,D0AUXPP07H6AVSGD,Melancholy Social-Role,2015-07-05,516,1,William Taylor,ZTZA0ZLYZR85PTUJ,0.000
15,WLWBMYOP8DJKWCIQ,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-05-24,711,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.001
16,5WNCKI809TG9M568,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-07-09,5370,1,William Taylor,ZTZA0ZLYZR85PTUJ,0.004
17,C6AS1IHTACYMIE9D,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-08-06,9155,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.007
18,A5YZ7BM6F3M9XBOK,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-06-08,1149,1,William Taylor,ZTZA0ZLYZR85PTUJ,0.001
19,TMROH439EAN8J34C,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-08-05,2858,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.002
20,G85EAFOYGIBOZYWS,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-14,2713,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.002
21,C053Y6X97SYSSHDY,TJW99R4RWH02INII,Pee-Wee Pigeon,2014-03-30,2073,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.001
22,MK0SDSWL0LCY4YFZ,TJW99R4RWH02INII,Pee-Wee Pigeon,2014-05-30,7268,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.005
23,IQU01PAM7XO9D15M,TJW99R4RWH02INII,Pee-Wee Pigeon,2017-01-16,2943,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.002
24,HKX8D8UEE1Y2D3US,TJW99R4RWH02INII,Pee-Wee Pigeon,2018-09-07,5237,1,William Taylor,ZTZA0ZLYZR85PTUJ,0.004
25,C4PL84G682FL7TSB,TJW99R4RWH02INII,Pee-Wee Pigeon,2016-03-05,6883,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.005
26,EFSFNO1BIPSDRX38,TJW99R4RWH02INII,Pee-Wee Pigeon,2015-02-11,7830,1,William Taylor,ZTZA0ZLYZR85PTUJ,0.006
27,6OPYZ1MBE3R585C3,TJW99R4RWH02INII,Pee-Wee Pigeon,2015-04-19,8626,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.006
28,LKEA5PT4RBJNGRIQ,TJW99R4RWH02INII,Pee-Wee Pigeon,2015-12-31,5320,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.004
29,DMD7RI7CCVC5D8AZ,TJW99R4RWH02INII,Pee-Wee Pigeon,2016-06-11,9681,0,William Taylor,ZTZA0ZLYZR85PTUJ,0.007
...,...,...,...,...,...,...,...,...,...
99104,2OUFQUGIA9UA9GVM,KBAUEC1VHPVPTI5G,Linguistic Agrippa,2015-10-26,8135,1,Richard Dugas,Y43HS5H6PAP34ER5,0.004
99105,O1VTNP3K0JC7VY32,KBAUEC1VHPVPTI5G,Linguistic Agrippa,2017-02-05,871,0,Richard Dugas,Y43HS5H6PAP34ER5,0.000
99106,SZQBKIEROWDG9PXR,KBAUEC1VHPVPTI5G,Linguistic Agrippa,2014-11-28,5776,0,Richard Dugas,Y43HS5H6PAP34ER5,0.003
99107,HULMPN2BWBJS2RMV,KBAUEC1VHPVPTI5G,Linguistic Agrippa,2015-08-24,2081,0,Richard Dugas,Y43HS5H6PAP34ER5,0.001
99108,XK58QVY27IOGSIWV,KBAUEC1VHPVPTI5G,Linguistic Agrippa,2015-09-28,498,1,Richard Dugas,Y43HS5H6PAP34ER5,0.000
99109,82YUESJIJMH4JPVG,KBAUEC1VHPVPTI5G,Linguistic Agrippa,2017-08-27,1574,0,Richard Dugas,Y43HS5H6PAP34ER5,0.001
99110,WNRO832U9OLNFU7Q,KBAUEC1VHPVPTI5G,Linguistic Agrippa,2017-08-27,4308,0,Richard Dugas,Y43HS5H6PAP34ER5,0.002
99111,0KYGSO93C83BY95U,BLURX3WQK51RI6P7,Baptismal Tensions,2014-05-05,4102,0,Richard Dugas,Y43HS5H6PAP34ER5,0.002
99112,L4LUE0F7VTC0NJK8,BLURX3WQK51RI6P7,Baptismal Tensions,2018-08-01,5497,0,Richard Dugas,Y43HS5H6PAP34ER5,0.003
99113,RH7YPE5GVZB45Y4C,BLURX3WQK51RI6P7,Baptismal Tensions,2015-12-06,5991,0,Richard Dugas,Y43HS5H6PAP34ER5,0.003
99114,F0N72U05HVSR8HOF,BLURX3WQK51RI6P7,Baptismal Tensions,2015-08-31,4871,1,Richard Dugas,Y43HS5H6PAP34ER5,0.002
99115,45FSNOZDN55WNLHI,BLURX3WQK51RI6P7,Baptismal Tensions,2015-08-12,5669,0,Richard Dugas,Y43HS5H6PAP34ER5,0.003
99116,PJ6LVMMYDKI1AK4A,BLURX3WQK51RI6P7,Baptismal Tensions,2017-07-22,9116,0,Richard Dugas,Y43HS5H6PAP34ER5,0.005
99117,99LALRJNE173WXDP,BLURX3WQK51RI6P7,Baptismal Tensions,2014-05-21,7256,1,Richard Dugas,Y43HS5H6PAP34ER5,0.004
99118,W0YOVEQOY7YW2D8S,BLURX3WQK51RI6P7,Baptismal Tensions,2017-09-24,3795,0,Richard Dugas,Y43HS5H6PAP34ER5,0.002
99119,O7SNG3Z88P4NMC0P,BLURX3WQK51RI6P7,Baptismal Tensions,2018-02-03,9177,0,Richard Dugas,Y43HS5H6PAP34ER5,0.005
99120,NLPKETERKMNXA4FL,BLURX3WQK51RI6P7,Baptismal Tensions,2015-10-13,5987,0,Richard Dugas,Y43HS5H6PAP34ER5,0.003
99121,QV9AFMF4Z6Y2OQXX,BLURX3WQK51RI6P7,Baptismal Tensions,2014-08-08,426,0,Richard Dugas,Y43HS5H6PAP34ER5,0.000
99122,JKTJJILFX0S3G1ZL,BLURX3WQK51RI6P7,Baptismal Tensions,2018-01-23,5966,0,Richard Dugas,Y43HS5H6PAP34ER5,0.003
99123,POF174H83337T96H,BLURX3WQK51RI6P7,Baptismal Tensions,2017-04-30,7198,0,Richard Dugas,Y43HS5H6PAP34ER5,0.004
99124,S50AXVHBUOI96TOX,BLURX3WQK51RI6P7,Baptismal Tensions,2015-10-13,9063,0,Richard Dugas,Y43HS5H6PAP34ER5,0.004
99125,QTHD6L00ATUFWXM1,BLURX3WQK51RI6P7,Baptismal Tensions,2015-07-06,4345,0,Richard Dugas,Y43HS5H6PAP34ER5,0.002
99126,I61HPOC6ACNMFN3E,BLURX3WQK51RI6P7,Baptismal Tensions,2017-06-22,3123,0,Richard Dugas,Y43HS5H6PAP34ER5,0.002
99127,1WLVUC0L89NV0LGB,BLURX3WQK51RI6P7,Baptismal Tensions,2014-03-30,333,1,Richard Dugas,Y43HS5H6PAP34ER5,0.000
99128,LFMOMO4R38FHXC2X,BLURX3WQK51RI6P7,Baptismal Tensions,2016-10-24,9423,0,Richard Dugas,Y43HS5H6PAP34ER5,0.005
99129,GVRNNUAPFE0IUBHW,BLURX3WQK51RI6P7,Baptismal Tensions,2014-01-11,2677,0,Richard Dugas,Y43HS5H6PAP34ER5,0.001
99130,GX4S2LXPU3VZOS4Z,BLURX3WQK51RI6P7,Baptismal Tensions,2018-05-12,6877,0,Richard Dugas,Y43HS5H6PAP34ER5,0.003
99131,FU4ELGDQEGSGOHFZ,BLURX3WQK51RI6P7,Baptismal Tensions,2014-10-16,9189,0,Richard Dugas,Y43HS5H6PAP34ER5,0.005
99132,S553MU5UDAUID8TG,BLURX3WQK51RI6P7,Baptismal Tensions,2016-05-01,2013,0,Richard Dugas,Y43HS5H6PAP34ER5,0.001
99133,CV3ANPEYZAGVDGGT,BLURX3WQK51RI6P7,Baptismal Tensions,2016-06-20,4543,0,Richard Dugas,Y43HS5H6PAP34ER5,0.002